# Binary files
*.exe
*.dll
*.so
*.pprof

# Specific paths
services/user-service/bin/
services/user-service/user-service

# IDE
.vscode/
.idea/
.DS_Store

# Build artifacts
**/bin/
coverage.out
coverage.html

# Local configuration
.env

**/scripts/